<app-header titulo="card"></app-header>
<!-- <ion-header>
  <ion-toolbar>
    <ion-title>card</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <ion-card mode="ios">
    <ion-card-header>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      <ion-card-title>Card Title</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>
  
  <ion-card>
    <ion-item color="primary" > 
      <ion-icon slot="start" name="pin-outline"></ion-icon>
      <ion-label>Marcador</ion-label>
    </ion-item>
    <ion-card-content>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Explicabo quos fuga a voluptatibus neque, est sapiente consequatur possimus hic. Possimus alias voluptates, et ipsam ad quo tempora fuga cumque temporibus.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img src="https://www.elcomercio.com/files/article_main/uploads/2020/12/04/5fcadc291eb9b.jpeg">
    <ion-card-content>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nesciunt perferendis sit quis dolores quos quisquam vero, temporibus nobis vel natus repellat, alias ex? Veritatis labore beatae tempore ipsa laboriosam autem?
    </ion-card-content>
  </ion-card>


  
</ion-content>
